<div class="container">
        <H1 class="git">Git search</H1>
        <div class="row">
            <div class="col-md-8">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Type GitHub Name" name="username"
                            [(ngModel)]="username" (keyup)="search()">
                    </div>
                </form>
            </div>
        </div>
    
        <div *ngIf="user">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{user.name}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{user.avatar_url}}" class="img-thumbnail github-avatar" alt="Avi"><br>
                            <br>
                            <a class="btn btn-block btn-info" href="{{user.html_url}}" target="_blank"> View Profile </a>
                        </div>
                        <div class="col-md-8">
    
                            <span class="label label-info space">{{user.public_repo}} Public Repositories
                            </span>
                            <span class="label">{{user.public_gists}} Public Gists </span>
                            <span class="label">{{user.followers}} Followers</span>
                            <span class="label">{{user.following}} Following</span>
    
                            <br>
                            <ul class="list-group">
                                <li class="list-group-item"><strong> User Name: <a appUnderline href="{{user.html_url}}"
                                            target="_blank">{{user.login}}</a></strong></li>
                                <li class="list-group-item"><strong>Email: {{user.email}}</strong></li>
                                
                            </ul>
    
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Repositories</h2>
                </div>
                <div class="panel-body">
                    <div *ngFor="let rep of repo">
                        <div class="row">
                            <div class="col-md-10">
                                <h4><a target="_blank" href="{{repo.html_url}}">{{rep.name}}</a></h4>
                                <p>{{rep.description}}</p>
                            </div>
                            <div class="col-md-2">
                                <span class="label label-warning">{{rep.forks}} Forks</span>
                            </div>
                        </div>
                        <hr />
                    </div>
    
                </div>
    
            </div>
    
        </div>
    </div>
   
    